<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webinar | Form</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/Prime counsel chatbot.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/css/estyle.css' %}">
</head>
<body>
    <div class="container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMkKMz3LZmpiGTFmxdti-ZIdomPYCLUBNbdPdxlbi3KCNh9w/viewform?embedded=true" width="640" height="2177" frameborder="0" marginheight="0" marginwidth="0" ></iframe><div class=""></div>
    </div>
    <form class="btn"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_NrNugLKPiEdhzF" async> </script> </form>

    
</body>
</html>